.library {
  margin: 5rem;
}
.library .books {
  background: #fefefe;
  padding: 1rem;
  display: flex;
}
.library .books .book {
  border: 1px solid rgb(194, 194, 194);
  width: fit-content;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.favorite {
  background: rgb(201, 73, 73);
  color: black;
  padding: 1rem;
  text-align: center;
}
.not-favorite {
  background: rgb(219, 208, 208);
  color: black;
  padding: 1rem;
  text-align: center;
}
.not-favorite:hover {
  background: rgb(224, 185, 185);
}
.favorite:hover {
  background: rgb(150, 44, 44);
}
